.mainHome {
    width: 100%;
    max-width: 100%;
    height: 100vh;
  }
  .aboutmain{
    width:100%;
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aboutmaincontainer{
    width:70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .aboutmaintext{
    width:70%;
  }
  .aboutmainheader p{
    font-size: 30px;
    font-weight: bold;
  }
  .aboutmaindesc{
    padding:0px 50px 20px 0px;
  }
  .aboutmainpic{
    width:30%;
  }
  .aboutmainpic img{
    width:100%;
  }
  .aboutSection{
    width:100%;
    padding:20px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin:20px 0px;
  }
  .aboutContainer{
    width:70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .sectionContainer{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .sectionheader{
    width:100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .sectionheader p{
    font-size: 30px;
    font-weight: bold;
  }
  .sectioncardLeft{
    width:100%;
    padding:15px;
    border-radius: 10px;
    margin-bottom: 80px;
    box-shadow: 0 0 5px 5px lightgrey;
  }
  .sectionTextLeft{
    width:70%;
  }
  .sectionTextHeader{
   margin-bottom: 10px;
  }
  .sectionTextHeader p{
    font-size: 24px;
    font-weight: bold;
  }
  .sectionimageleft{
    width:30%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sectionimageleft img{
    border-radius: 50%;
    height:200px;
    width:200px
  }
  
  @media screen and (max-width:1024px) {
    .aboutmaincontainer{
      width:90%;
    }
    .aboutContainer{
      width:85%;
    }
    .aboutmaindesc{
      width:100%;
      padding:0px 10px 20px 0px; 
    }
    .aboutmaindesc p{
      font-size: 14px;
    }
    .aboutmaintext{
      width:100%;
    }
    .aboutmainpic{
      width:100%;
    }
    .sectionTextLeft{
      width:100%;
    }
    .sectionimageleft{
      width:100%;
      margin:10px 0px;
    }
    .sectionTextHeader{
      text-align: center;
    }
  }