.productScroll{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px 50px;
}
.scrollUnit{
    width:200px;
    height:200px;
    margin:0px 10px;
    padding:20px;
    border:1px solid #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.scrollUnitSelected{
    width:200px;
    height:200px;
    margin:0px 10px;
    padding:20px;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 0 3px 3px #33475b;
}

.scrollUnit:hover{
    border:1px solid #33475b;
    border-radius: 10px;
}
.scrollUnit img{
    width:120px;
    height:100px;
}
.scrollUnitSelected img{
    width:120px;
    height:100px;
}
.scrollUnitSelected .scrollText{
    font-size: 18px;
    font-weight: bold;
}
.scrollText{
    width:100%;
    font-size: 16px;
    text-align: center;
}
.scrollText p{

}
@media  (max-width:768px) {
    .scrollUnit,.scrollUnitSelected{
        width:100px;
    height:120px;
    margin:0px 10px;
    padding:10px;
    }
    .scrollUnit  img{
        width:60px;
        height:60px;
    }
    .scrollText p{
        font-size: 12px;
    }
    .scrollUnitSelected  img{
        width:60px;
        height:60px;
    }
    .scrollUnitSelected .scrollText{
        font-size: 12px;
    }
}
.productSub{
    width:100%;
    margin:30px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.subTab{
    margin:5px 15px;
    padding:10px 20px;
    border-radius: 10px;
    border:1px solid #33475b;
    cursor: pointer;
}
.subTab p{
    font-size: 16px;
}
.subTabSelected{
    margin:5px 15px;
    padding:10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px #33475b;
    cursor: pointer;
}
.subTabSelected p{
    font-size: 18px;
    font-weight: bold;
}
.products{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding:20px 30px;
}
.productsCard{
    width:18%;
    padding:10px;
    border-radius: 10px;
    box-shadow: 0 0 5px #33475b;
    cursor: pointer;
    margin:1%;
}
@media  (max-width:768px) {
    .productsCard{
        width:80%;
        margin-bottom: 20px;
    }
}
.productsCard:hover{
    box-shadow: 0 0 5px lightcoral;
}
.productsImg{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productsImg img{
    width:150px;
    height:150px;
}
.productsText{
    width:100%;
}
.productsTitle{
    width:100%;
    font-size: 24px;
    color: #33475b;
    font-weight: bold;
    text-align: center;
}
.productsTitle p{
    font-size: 20px;
}
.productsDescription {
    width: 100%;
    padding: 10px 20px;
    font-size: 13px;
    color: lightgray;
    text-align: center;
  
    display: -webkit-box;
    -webkit-line-clamp: 3;   /* show only 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .productsDescription p{
    color:lightgray;
  }
.productsRate{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productsActual p{
  text-decoration: line-through;
  color:grey;
  font-size: 13px;
}
.productsOld p{
    font-size: 16px;
    margin-left: 5px;
}
.descContainer{
    width:80%;
    margin-left: 10%;;
    padding:100px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}
.descImageSection{
    width:60%;
}
.descImage{
    width:100%;
}
.descImage img{
    width:500px;
    height:500px;
    border: 1px solid grey;
    border-radius: 10px;
}
.descSmallImages{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.smallUnit{
    width:100px;
    height:100px;
    margin-right: 15px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}
.smallUnit img{
    width:100%;
    height:100%;
    border-radius: 10px;
}
.descDetailsSection{
    width:40%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}
.descProductTitle{
    width:100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.descProductTitle p{
    font-size: 18px;
    font-weight: bold;
}
.descDetails{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
}
.descDetailsName{
    width:50%;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
}
.descDetailsNameActive{
    width:50%;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    color: #000;
    font-weight:bold;
    border-radius: 10px;
}
.descFull{
    width:100%;
    border:2px solid lightgray;
    padding:10px;
    margin-top: 20px;
    border-radius: 10px;
}
.descTable{
    width:100%;
    padding:10px;
    margin-top: 20px;
    border-radius: 10px;
}
tr{
    text-align: center;
    height:40px;
}
.descPrice{
    width:100%;
    margin:10px 0px;
    font-size: 16px;
    font-weight: bold;
    color: red;
}
@media screen and (max-width :1024px) {
    .descContainer{
        width:100%;
        margin:0;
        padding:10px;
    }
    .descImageSection{
        width:100%;
    }
    .descImage img{
        width:100%;
        height: 300px;
    }
    .descDetailsSection{
        width:100%;
        margin-top: 20px;
    }

}